.calculate-container {
  display: flex;
  flex-direction: column;
  height: max-content;

}

.calcualate-table {
  display: none;
}

.calculate-box {
  border-bottom: 1px solid gray;
}

.navigate {
  margin: 1%;
}

table {
  width: 80%;
  margin: 1% auto;
}


mat-form-field {

  padding: 0;
  margin: 0;

}

td, th {
  margin: 0;
  padding: 0;
  width: 15%;
}

mat-select {
  min-width: 100px;
}

input {
  padding: 0;
  margin: 0;

}

button {
  margin: 1% 10% 1% 1%;
  float: right;
}

.grid {
  width: 80%;
  margin: 1% auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid>span {
  padding: 8px 4px;
}

.select-cell {
  text-align: center;
  font-weight: bold;

}


@media (max-width: 1112px) {
  .grid {
    margin-top: 5%;
  }

  td, th {
    margin: 0;
    padding: 0;
    width: 80px;
  }

  mat-select {
    min-width: 80px;
  }

  mat-form-field {
    max-width: 100px;
  }

  .grid>span.mat-header-cell {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .grid>span.mat-header-cell {
    transform: rotate(90deg);
    height: fit-content;
    text-align: center;
    align-content: center;

  }

  .grid {
    margin-top: 25%;
  }

  mat-form-field {
    width: 50px;
  }
}
