<!-- <table class="mat-table mat-elevation-z8 calcualate-table">
  <tr class="mat-header-row ">
    <th class="mat-header-cell">Nombre</th>
    <th class="mat-header-cell">Gramos</th>
    <th class="mat-header-cell">Ml</th>
    <th class="mat-header-cell">Tazas</th>
    <th class="mat-header-cell">Cucharadas</th>

  </tr>
  <tr class="mat-row">
    <td class="mat-cell">
      <mat-select name="" id="" [(ngModel)]="selected">
        <mat-option *ngFor="let medida of medidas" [value]="medida">
          {{medida}}
        </mat-option>
      </mat-select>
    </td>
    <td class="mat-cell">
      <mat-form-field appearance="outline"><input matInput type="number" #gramos (change)="calculate()">
      </mat-form-field>
    </td>
    <td class="mat-cell">
      <mat-form-field appearance="outline"><input matInput type="number" [value]="ml" readonly></mat-form-field>
    </td>
    <td class="mat-cell">
      <mat-form-field appearance="outline"><input matInput type="number" [value]="tazas" readonly></mat-form-field>
    </td>
    <td class="mat-cell">
      <mat-form-field appearance="outline"><input matInput type="number" [value]="cucharadas" readonly>
      </mat-form-field>
    </td>
  </tr>
</table>

<table class="mat-table mat-elevation-z8 calcualate-table-small">
  <tr class="mat-row">
    <th class="mat-header-cell">Nombre</th>
    <td class="mat-cell">
      <mat-select name="" id="" [(ngModel)]="selected">
        <mat-option *ngFor="let medida of medidas" [value]="medida">
          {{medida}}
        </mat-option>
      </mat-select>
    </td>
  </tr>
  <tr>
    <th class="mat-header-cell">Gramos</th>
    <td class="mat-cell">
      <mat-form-field appearance="outline"><input matInput type="number" #gramos (change)="calculate()">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <th class="mat-header-cell">Ml</th>
    <td class="mat-cell">
      <mat-form-field appearance="outline"><input matInput type="number" [value]="ml" readonly></mat-form-field>
    </td>
  </tr>
  <tr>
    <th class="mat-header-cell">Tazas</th>
    <td class="mat-cell">
      <mat-form-field appearance="outline"><input matInput type="number" [value]="tazas" readonly></mat-form-field>
    </td>
  </tr>
  <tr>
    <th class="mat-header-cell">Cucharadas</th>
    <td class="mat-cell">
      <mat-form-field appearance="outline"><input matInput type="number" [value]="cucharadas" readonly></mat-form-field>
    </td>
  </tr>
</table> -->
