.main-wrapper{
  width: 100%;
  height: 100%;

}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  min-width: 500px;

}

img{
  margin-top: 1%;
}

.edit-input{
  width: 75%
}

.small-input{
  width: 15%;
}

.buttons{
  display: flex;
  justify-content: flex-start;
  padding: 2%;
}

.buttons button{
  margin: 1%;
}

.ing-box{
  margin: 0 1%
}

@media (max-width: 1112px) {
.form{
  width: 100%;
}

  /* .main-wrapper{
  max-width: 90%;
  } */

  .edit-input{
    width: 100%
  }

  .small-input{
    width: 25%;
  }

 }

 @media (max-width: 576px) {
  form{
    min-width: 350px;

    padding: 0;
  }

  .edit-input{
  width: 75%
}

.small-input{
  width: 15%;
}
 }
